## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [48]:
import pandas as pd
import numpy as np

In [49]:
data = {'國家':["Taiwan","Japan","Thiland","France","Austrilia","AF","AM","CA","GS","JN"] ,
        '人口': np.random.randint(5000000,size = 10)}
data = pd.DataFrame(data)
data

          國家       人口
0     Taiwan  2742783
1      Japan  3455209
2    Thiland   373866
3     France  4456322
4  Austrilia   572385
5         AF  1701616
6         AM   635448
7         CA  4983154
8         GS  4889775
9         JN  2588759

In [51]:
datasort = data.sort_values(by = "人口",ascending = False)
datasort.loc[[0],["國家","人口"]]

       國家       人口
0  Taiwan  2742783

In [52]:
datasort.iloc[0:2,[0,1]]

   國家       人口
7  CA  4983154
8  GS  4889775